---
layout: default
---

<section id="banner">
  <header>
    <h2><strong>Blog</strong></h2>
  </header>
</section>

{% for post in site.posts %}
<div class="wrapper style2">

  <article id="main" class="container special">
    <a href="{{ post.url | prepend: site.baseurl }}" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
    <header>
      <h2><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h2>
      {% if post.subtitle %}
        <p>{{post.subtitle}}</p>
      {% endif %}
    </header>
    <p>
      {{ post.excerpt }}
    </p>
    <footer>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button">Continue Reading</a>
    </footer>
  </article>

</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
